* {
    box-sizing: border-box;
}



body {
    background-color: burlywood;
    margin: 0;
}



header { 
    display: flex;
    border-bottom: black solid 3px;
    margin-left: 0;
    padding: 5px;
    
}

header > img {
    max-width: 100%;
    
}


img { width: 50px;
    height: 50px;}

    
#subscribe {
    text-decoration: none;
    border: white solid 2px;
    border-radius: 3px;
    align-self: flex-start;
    font-size: 25px;
}

#donate {
    text-decoration: none;
    border: white solid 2px;
    border-radius: 3px;
    margin: 5px;
    font-size: 25px

}



#click {
    margin-left: auto;
}


#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}



nav {
    border: black 1px solid;
    margin:0px;
    display: inline-block;
    height: 750px;
    width: 250px;

}

nav > h2, p {
    padding: 0px;
}

ul {
    padding:0px;
}

main { 
    border: black 1px solid;
    flex-grow: 1;

}

main img {
    width: 200px;
    height: 200px;
}

aside { 
    border-top: 1px black solid;
    flex-grow: 1;

}

aside img {
    position: relative;
    left: 15px;
    top: 10px; 
}

#switchP {
    position: relative;
    left: 55px;
}


footer {
    border: black 1px solid;
}

#SLogo {
    display: flex;
}

#InstaLogo {
    padding: 5px;
}


// Responsive CSS


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }